<!DOCTYPE html>
<html lang="en">


<%- include('./partials/nav.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="About content">
                <h2>About Us</h2>
                <p>I'm a software engineer, here's a blog application I created!</p>
                <p>I also utilized html, css, javascript</p>
                <p>I have a background in web design, UI/UX, web content writing/editing, and education</p>

            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>