<!DOCTYPE html>
<html lang="en">


<%- include('./partials/nav.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>


            <div class="create-blog content">
                <form>
                    <label for="title">Blog title:</label>
                    <input type="text" id="title" required>

                    <label for="snippet">Blog snippet:</label>
                    <input type="text" id="snippet" required>

                    <label for="body">Blog title:</label>
                    <input type="text" id="body" required>

                    <button>Submit</button>
                </form>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>